
@import "tailwindcss/preflight";
@import "tailwindcss/utilities";
/* Variables CSS personalizadas */
:root {
  --red-600: 220 38 38;
  --red-500: 239 68 68;
  --red-700: 185 28 28;
  --black: 0 0% 0%;
  --white: 0 0% 100%;
  --zinc-800: 39 39 42;
  --zinc-900: 24 24 27;
  --zinc-400: 161 161 170;
  --zinc-300: 212 212 216;
  --zinc-200: 228 228 231;
  --yellow-400: 250 204 21;

  --light-plus-bg: 245 245 255;
  --light-plus-text: 30 30 60;
  --light-plus-accent: 100 50 255;
  --light-plus-border: 200 200 255;
}

:root {
  --background: 255 255 255;
  --foreground: 0 0 0;
  --border: var(--zinc-200);
  --card: var(--zinc-200);
  --card-foreground: 0 0 0;
  --muted: var(--zinc-200);
  --muted-foreground: var(--zinc-800);
}

.dark {
  --background: 0 0 0;
  --foreground: 255 255 255;
  --border: var(--zinc-800);
  --card: var(--zinc-900);
  --card-foreground: 255 255 255;
  --muted: var(--zinc-800);
  --muted-foreground: var(--zinc-400);
}

.light-plus {
  --background: var(--light-plus-bg);
  --foreground: var(--light-plus-text);
  --border: var(--light-plus-border);
  --card: var(--light-plus-border);
  --card-foreground: var(--light-plus-text);
  --muted: var(--light-plus-border);
  --muted-foreground: var(--light-plus-accent);
}

body {
  color: rgb(var(--foreground));
  background-color: rgb(var(--background));
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  transition: color 0.3s, background-color 0.3s;
}
